/*
  Elements
*/

h1.title {
    color: #666;
    font-size: 200%
}

h2 {
  color: #666;
  font-weight: normal;
}

.page-inner {
  padding: 0;
}

.block .inner {
  margin: 0;
}

.header-group-wrapper {
  background: #cfde28 url('../images/header-gradient-bg.gif') repeat-x top center; 
}

.header-group-wrapper .header-group-inner {
  background: url('../images/header-slogan.png') no-repeat 338px 63px;
  min-height: 225px;
  position: relative;
}

#logo {
  margin: 84px 12px 0;
}

.header-region {
  margin: 68px 0 0;
  padding: 0;
}

/*
  Header login box
*/

.view-user-meta .views-field-name span {
  color: #fff;
  font-size: 1em;
  font-style: normal;
}

.view-user-meta .views-field-name span.username a {
  color: #414600;
}

.view-user-meta .views-field-nothing a,
.view-user-meta .views-field-nothing-1 a {
  color: #414600;
  text-decoration: underline;
}

.view-user-meta .views-field-nothing a:hover,
.view-user-meta .views-field-nothing-1 a:hover {
  text-decoration: none;
}

.view-user-meta .views-field-nothing,
.view-user-meta .views-field-nothing-1 {
  line-height: 100%;
}

.not-logged-in .header-region {
  margin: 25px 0 0;
}

.not-logged-in .header-region input.form-text {
  width: 181px;
}

.header-region-inner .block-user form {
  min-width: 205px;
  *width: 205px; /* IE 7 fix */
}

.header-region-inner .block-user .form-item,
.header-region-inner .block-user #user-login-form div.item-list {
  float: none;
}

.header-region-inner .block-user .form-item label {
  color: #fff;
  margin: 5px 0 5px 1px;
}

.header-region-inner .block-user input.form-submit {
  float: right;
}

#user-login-form div.item-list ul li {
  margin: 0 0 5px;
}

.header-region-inner .block-user .item-list ul li a {
  font-size: 11px;
  padding: 0 0 0 20px;
  text-decoration: underline;
}

.header-region-inner .block-user .item-list ul li a:hover {
  text-decoration: none;
}

.header-region-inner .block-user .form-required {
  padding: 0;
}

/*
  Primary menu
*/

#primary-menu {
  font-size: 90%;
  left: 0;
  position: absolute;
  top: 193px;
  width: 100%;
}

.nav-group-wrapper {
  background-color: transparent;
}

.primary-menu-inner ul.sf-menu li {
  background-color: #9fb400;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  margin: 0 5px 0 0;
}

.primary-menu-inner ul.sf-menu li li {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.primary-menu-inner ul.sf-menu li:hover {
  background-color: #677500;
}

.primary-menu-inner ul.sf-menu a,
.primary-menu-inner ul.sf-menu a:visited {
  background-color: transparent;
  border: 0;
  padding: 6px 15px;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:focus,
.primary-menu-inner ul.sf-menu li.active-trail > a,
.primary-menu-inner ul.sf-menu li.sfHover > a {
  background-color: transparent;
  color: #fff;
}

.primary-menu-inner ul.sf-menu li.active-trail {
  background-color: #fff;
}

.primary-menu-inner ul.sf-menu li.active-trail a {
  color: #717d00;
}

/*
  Primary menu
  Level 1
*/

.sf-menu ul {
  min-width: 150px;
  width: auto;
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  top: 33px; /* match top ul list item height */
}

.primary-menu-inner ul.sf-menu ul {
  background-color: #677500;
}

.primary-menu-inner ul.sf-menu li li a,
.primary-menu-inner ul.sf-menu li li a:link,
.primary-menu-inner ul.sf-menu li li a:visited {
  border: 0;
  display: block;
  float: none;
  padding: 6px 15px;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:active,
.primary-menu-inner ul.sf-menu a:focus,
.primary-menu-inner ul.sf-menu li.active-trail > a,
.primary-menu-inner ul.sf-menu li.sfHover > a {
  background-color: transparent;
}

.primary-menu-inner ul.sf-menu li li a:hover,
.primary-menu-inner ul.sf-menu li li.active-trail > a,
.primary-menu-inner ul.sf-menu li li.sfHover > a {
  background-color: #9fb400;
}

.primary-menu-inner ul.sf-menu li li a,
.primary-menu-inner ul.sf-menu li li a:link,
.primary-menu-inner ul.sf-menu li li a:visited {
  color: #fff;
}

.search-box-inner input#search_header {
  font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
}

/*
  Fonts, colors etc.
*/

a,
a:link,
a:visited {
  color: #97a700;
}

.panel-pane .view-og-calendar .view-header .addnew a,
.panel-pane .view-recent-notices .view-header .addnew a,
.panel-pane .view-header .addnew a {
  color: #97a700;
}

/*
  Blocks
*/

.panel-panel .block .inner h2.pane-title,
.panel-pane .inner h2.pane-title,
.panel-panel .block .inner h2.block-title,
.panel-pane .inner h2.block-title,
.panel-panel .pane-node-content .node {
  border-top: 0;
}

.panel-panel .block, .panel-pane {
  border-bottom: 2px solid #ddd;
  margin-bottom: 5px;
}

.panels-flexible-region-1-left .panel-flexible .panel-separator,
.panels-flexible-region-1-right .panel-flexible .panel-separator {
  margin: 0;
}

/*
  Form elements
*/

form input.form-submit,
.views-exposed-form .views-exposed-widget input.form-submit {
  background-color: #9fb400;
}

.page-home .shoutbox-add-form input.form-text {
  width: 70%;
}

/*
  Shoutbox
*/

#shoutbox-add-form .form-text,
#shoutbox-add-form .form-submit {
  font-size: 95%;
}

span.shoutbox-current-user-name,
span.shoutbox-current-user-name a,
span.shoutbox-current-user-name a:visited {
  color: #97a700;
}

.shoutbox-msg .shoutbox-post-info {
  padding-right: 20px;
  text-align: left;
}

.shoutbox-msg .shoutbox-post-info,
.shoutbox-msg .shoutbox-post-info span {
  width: 40px;
}

.shoutbox-msg .shout-message,
div.shoutbox-even {
  margin-left: 58px;
}

/*
  Footer
*/

.footer-wrapper {
  background-color: #f2f2f2;
  padding: 0;
}

.footer-message-wrapper {
  display: none;
}

/*
  Get startet / Download
*/

.get-startet-download-box {
  color: #666;
  font-size: 85%;
  margin: 0 0 30px;
  text-align: center;
}

.get-startet-download-box .get-startet a,
.get-startet-download-box .download a {
  background: url('../images/get-startet-download.png') no-repeat top center;
  display: block;
  height: 43px;
  margin: 10px auto;
  overflow: hidden;
  text-indent: -10000px;
  width: 182px;
}

.get-startet-download-box .download a {
  background: url('../images/get-startet-download.png') no-repeat bottom center;
}

/*
  Twitter
*/

.twtr-widget {
  margin: 0 0 30px !important;
}

.twtr-widget .twtr-hd,
.twtr-widget .twtr-ft {
  display: none !important;
}

.twtr-widget .twtr-tweet-wrap {
  padding: 6px 0 !important;
}