.page-inner {
  padding: 0;
}

.header-group-wrapper {
  background: #cfde28 url('../gfx/header-gradient-bg.gif') repeat-x top center;
  min-height: 225px;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:active,
.primary-menu-inner ul.sf-menu a:focus,
.primary-menu-inner ul.sf-menu li.active-trail > a,
.primary-menu-inner ul.sf-menu li.sfHover > a {
  background-color: #9fb400;
}

.search-box-inner input#search_header {
  font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
}